<div class="page-header"><h1>Editions</h1></div>

<%= paginate @editions %>

<form>
  <div class="form-group">
    <div class="input-group">
      <input type="text" name="search_string" class="input form-control" autofocus>
      <i class="input-group-addon glyphicon glyphicon-search"></i>
    </div>
  </div>
</form>

<table class="table table-striped table-condensed">
  <tr>
    <th>Name</th>
    <th>Released</th>
    <th>Cards</th>
    <th>Progress</th>
    <th></th>
  </tr>

<% @editions.each do |edition| %>
  <tr>
    <td><%= link_to edition.name, edition %></td>
    <td><%= edition.release_date %></td>
    <td>
      <%= edition.cards.count %>/<%= edition.card_count %>
    </td>
    <td>
      <% percent = ((edition.cards.count.to_f/edition.card_count) * 100).to_i %>
      <div title="<%= percent %>%" class="progress progress-striped">
        <div class="progress-bar" style="width: <%= percent %>%;"></div>
      </div>
    </td>
    <td>
      <%= link_to edition, :class => "btn btn-default btn-sm" do %>
        <i class="glyphicon glyphicon-eye-open"></i>
      <% end %>
      <%= link_to edit_edition_path(edition), :class => "btn btn-default btn-sm"  do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
      <%= link_to edition, :class => "btn btn-sm btn-danger", method: :delete, data: { confirm: "Delete '#{edition.name}'?" } do %>
        <i class="glyphicon glyphicon-trash  "></i>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Edition', new_edition_path, :class => "btn btn-primary" %>
