<div class="page-header">
  <h1><%= @edition.name %> (<%= @edition.cards.count %>/<%= @edition.card_count %>)</h1>
  <%= link_to 'Edit', edit_edition_path(@edition), :class => "btn btn-primary btn-xs" %>
  <%= link_to 'Back', :back, :class => "btn btn-default btn-xs" %>
</div>

<div class="row">
  <% @edition.cards.each do |card| %>
  <div class="col-xs-4 col-md-2 col-lg-2">
    <div class="thumbnail">
        <a href="<%= card_path card%>"><img src="<%= card_image_path(card) %>" class="img-responsive"></a>
    </div>
  </div>
  <% end %>
</div>
