<div class="page-header">
  <h1><%= @edition.name %> (<%= @edition.cards.count %>/<%= @edition.card_count %>)</h1>
  <%= link_to 'Edit', edit_edition_path(@edition), :class => "btn btn-default btn-xs" %>
  <%= link_to 'Back', :back, :class => "btn btn-default btn-xs" %>
</div>

<div class="container">
  <ul class="img-thumbnail">
    <% @edition.cards.each do |card| %>
    <li class="col-md-2">
      <div class="img-thumbnail">
        <a rel="popover" href="javascript:void(0)"
           data-placement="top"
           data-html="true"
           data-animation="false"
           data-trigger="focus"
           data-content='<%= (render :partial => 'shared/card', locals: {card: card, count: card.count } ).html_safe %>'><img src="<%= card_image_path(card) %>" alt="<%= card.name %>" style="cursor: help" width="200"></a>        
      </div>
    </li>
    <% end %>
  </ul>
</div>
