<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <dl>
        <dt>Name</dt>
        <dd><%= card.name %></dd>
        
        <dt>Mana Cost</dt>
        <dd><%= mana_cost_to_html(card.mana_cost) %></dd>
        
        <dt>Type</dt>
        <dd><%= card.main_type %><%= raw card.sub_type.blank? ? '' : " &mdash; #{card.sub_type}" %></dd>
        
        <dt>Editions/Rarity</dt>
        <dd>
          <ul class="inline">
            <% card.editions.each do |e| %>
              <li><span class="<%= rarity_to_css(card) %>"><%= e.name %></span></li>
            <% end %>            
          </ul>
        </dd>

        <dt>Foil</dt>
        <dd><%= card.foil ? "Yes" : "No" %></dd>
      
        <dt>Copies</dt>
        <dd><%= card.count %></dd>

      </dl>
    </div>
  </div>
</div>
