<%= form_for @card, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @card.errors.any? %>
    <div class="alert alert-error">
      <h4>Unable to save Card: <%= @card.errors.count %> errors.</h4>
    </div>
  <% end %>
  
  <% if @card_data_mismatches.present? %>
    <div class="alert alert-info">
      <ul>
      <% @card_data_mismatches.each do |mm|%>
        <li><%= mm[:name] %> -- <%= mm[:value] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class=> "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :autofocus => true %>
      <%= display_error_if_error :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :mana_cost, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :mana_cost %>
      <%= display_error_if_error :mana_cost %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :main_type, :class => "control-label" %>
    <div class="controls">
      <%= f.select :main_type, Card::CARD_TYPES %>
      <%= display_error_if_error :main_type %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :sub_type, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :sub_type, :autocomplete => 'off', 'data-provide' => 'typeahead', 'data-source' => Card.sub_types.to_json %>
      <%= display_error_if_error :sub_type %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :editions, :class => "control-label" %>
    <div class="controls">
      <ul class="inline">
        <% @card.editions.each do |e| %>
          <li><span class="label label-default"><%= e.name %></span></li>
        <% end %>
      </ul>
      <%= f.collection_select :editions, @card.available_editions, :id, :name, {:include_blank => true} %>
      <%= display_error_if_error :editions %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :foil, :class => "control-label" %>
    <div class="controls">
      <%= f.check_box :foil %>
      <%= display_error_if_error :foil %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :rarity, :class => "control-label" %>
    <div class="controls">
      <% Card::RARITIES.each do |r| %>
        <%= f.radio_button :rarity,  r, :class => 'radio inline' %> <span class="badge <%= rarity_to_css(r) %>"><%= r %></span>
      <% end %>
      <%= display_error_if_error :rarity %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :count, :class => "control-label" %>
    <div class="controls">
      <div class="input-prepend input-append">
        <button id="card_count_dec" class="btn" type="button"><i class="icon-minus"></i></button>
        <%= f.number_field :count, :class => "input-mini", :disabled => false %>  
        <button id="card_count_inc" class="btn" type="button"><i class="icon-plus"></i></button>
      </div>
      <%= display_error_if_error :count %>
    </div>
  </div>
  
  <div class="control-group">
    <div class="form-actions">
      <%= f.submit nil, :class => "btn btn-primary" %>
      <%= f.button "Cancel", :type => "button", :class => "btn" %>
    </div>
  </div>
<% end %>
