<div class="ui-widget-content">
  <div class="ui-widget-header">Cards</div>
  <div><%= paginate @cards %></div>
</div>

<div class="ui-widget-content">
  
<table>
  <tr class="ui-widget-header">
    <th>Name</th>
    <th>Mana Cost</th>
    <th>Main Type</th>
    <th>Sub Type</th>
    <th>Rarity</th>
    <th>Count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% row = 0 %>
<% @cards.each do |card| %>
  <tr class="<%= row % 2 == 0 ? 'ui-state-default' : 'ui-state-active' %>">
    <td><%= card.name %></td>
    <td><%= card.mana_cost %></td>
    <td><%= card.main_type %></td>
    <td><%= card.sub_type %></td>
    <td><%= card.rarity %></td>
    <td><%= card.count %></td>
    
    <td><%= link_to 'Show', card, :class => 'show_button' %></td>
    <td><%= link_to 'Edit', edit_card_path(card), :class => 'edit_button' %></td>
    <td><%= link_to 'Destroy', card, :class => 'delete_button', method: :delete, data: { confirm: "Delete '"+card.name+"'?" } %></td>
  </tr>
  <% row = row + 1 %>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_card_path, :id => 'new_card' %>

</div>

<script>
  $('#new_card').button();
  
  $('.show_button').button({
    text: false,
    icons: {
    primary: "ui-icon-search"
    }
  });

  $('.edit_button').button({
    text: false,
    icons: {
    primary: "ui-icon-pencil"
    }
  });

  $('.delete_button').button({
    text: false,
    icons: {
    primary: "ui-icon-trash"
    }
  });

</script>