<h2>Cards</h2>

<%= paginate @cards %>

<table class="table table-striped table-condensed">
  <tr>
    <th>Name</th>
    <th>Mana Cost</th>
    <th>Main Type</th>
    <th>Sub Type</th>
    <th>Rarity</th>
    <th>Count</th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td>
      <a rel="popover" href="#"
         data-placement="bottom"
         data-html="true"
         data-animation="false"
         data-trigger="hover"
         data-content="<img src='/card_images/<%= card.image_name %>'>"><%= card.name %></a>
    </td>
    <td><%= card.mana_cost %></td>
    <td><%= card.main_type %></td>
    <td><%= card.sub_type %></td>
    <td><%= card.rarity %></td>
    <td><%= card.count %></td>
    
    <td>
      <%= link_to card, :class => 'btn btn-small' do %>
        <i class="icon-eye-open"></i>
      <% end %>
      
      <%= link_to  edit_card_path(card), :class => 'btn btn-small' do %>
        <i class="icon-pencil"></i>
      <% end %>
      
      <%= link_to card, :class => 'btn btn-small btn-danger', method: :delete, data: { confirm: "Delete '#{card.name}'?" } do %>
        <i class="icon-trash"></i>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_card_path, :class => 'btn btn-block' %>
