<div class="page-header">
  <h1>Cards (<%= @card_count %>/<%= @total_card_count %>)</h1>
</div>

<%= paginate @cards %>

<form class="form-inline" method="get">

  <%= render 'card_search_form' %>

  <button type="submit" name="view" value="list" class="btn btn-default btn-sm">
    <i class="glyphicon glyphicon-list"></i>
  </button>
  <button type="submit" name="view" value="grid" class="btn btn-default btn-sm">
    <i class="glyphicon glyphicon-th"></i>
  </button>
</form>

<p>
<% if params[:view] == 'grid' %>
  <%= render 'grid_view' %>
<% else %>
  <%= render 'list_view' %>
<% end %>
</p>
