<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <img src="<%= card_image_path(@card) %>">
      <%= button_to 'Re-fetch Info', card_fetch_info_path, method: :get, class: "btn btn-small btn-inverse"%>
    </div>
    <div class="span7">
      <dl>
        <dt>Name</dt>
        <dd><%= @card.name %></dd>
        
        <dt>Mana Cost</dt>
        <dd><%= mana_cost_to_html(@card.mana_cost) %></dd>
        
        <dt>Type</dt>
        <dd><%= @card.main_type %><%= raw @card.sub_type.blank? ? '' : " &mdash; #{@card.sub_type}" %></dd>
        
        <dt>Editions/Rarity</dt>
        <dd>
          <ul class="inline">
            <% @card.editions.each do |e| %>
              <li><span class="<%= rarity_to_css(@card) %>"><%= e.name %></span></li>
            <% end %>            
          </ul>
        </dd>

        <dt>Foil</dt>
        <dd><%= @card.foil ? "Yes" : "No" %></dd>
      
        <dt>Copies</dt>
        <dd><%= @card.count %></dd>

        <div class="well"><%= raw @card.text_box.present? ? @card.text_box.sub(/\n/, "<br>") : '' %></div>
      </dl>
      
      <%= link_to 'Edit', edit_card_path(@card), :class => "btn" %>
      <%= link_to 'Back', :back, :class => "btn" %>
    </div>
  </div>
</div>
