<%= form_for(@deck) do |f| %>
  <% if @deck.errors.any? %>
    <div class="alert alert-error">
      <h4>Unable to save Deck: <%= @deck.errors.count %> errors.</h4>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class=> "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :autofocus => true %>
      <%= deck_error? :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :format, :class => "control-label" %>
    <div class="controls">
      <%= f.select :format, Deck::FORMATS.keys.collect {|n| [n,n] } %>
      <%= deck_error? :format %>
    </div>
  </div>

  <div class="control-group">
    <div class="form-actions">
      <%= f.submit nil, :class => "btn btn-primary" %>
      <%= link_to 'Back', :back, :class => "btn" %>
    </div>
  </div>

<% end %>
