<%= form_for @deck, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @deck.errors.any? %>
    <div class="alert alert-danger">
      <h4>Unable to save Deck: <%= @deck.errors.count %> errors.</h4>
    </div>
  <% end %>

  <div class="form-group <%= deck_error?(:name) ? 'has-error' : '' %>">
    <%= f.label :name, :class=> "col-sm-1 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :name, :autofocus => true, :class => 'form-control' %>
      <%= display_deck_error :name %>
    </div>
  </div>

  <div class="form-group <%= deck_error?(:format) ? 'has-error' : '' %>">
    <%= f.label :format, :class => "col-sm-1 control-label" %>
    <div class="col-sm-5">
      <%= f.select :format, Format::FORMATS.keys.collect {|n| [n,n] }, {}, :class => 'form-control' %>
      <%= display_deck_error :format %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-5">
      <%= f.submit nil, :class => "btn btn-primary" %>
      <% unless @deck.id.nil? %>
        <%= link_to 'Builder', build_deck_path(@deck), :class => "btn btn-default"  %>
      <% end %>
      <%= link_to 'Back', :back, :class => "btn btn-default" %>
    </div>
  </div>

<% end %>
