<div class="page-header">
  <h1>Deck Builder:  <%= @deck.name %> &mdash; <%= @deck.format %></h1>
</div>

<div class="navbar">
  <div class="navbar-inner">
    <form class="navbar-search pull-left" onSubmit="card_search();return false;">
      <input id="search_string" 
             type="text" 
             name="search_string" 
             class="search-query"
             autocomplete="off"
             placeholder="Search Cards..."
             autofocus >
      <span id="search_error"></span>
    </form>
  </div>
</div>

<!-- <div class="well"> -->
  <div class="container-fluid">
    <ul id="search_results" class="thumbnails"></ul>
  </div>
<!-- </div> -->

<div class="well">
  <h2 class="text-center">Main Deck (<%= @deck.main_count %>)</h2>
  <div class="container-fluid">
    <ul id="main" class="thumbnails">
      <% @deck.card_in_deck.each do |cid| %>
      <% next unless cid.main_copies > 0 %>
      <% card = cid.card %>
      <li id="card_<%= card.id %>" data-id="<%= card.id %>" class="span2 existing_card">
        <div id="card_img_<%= card.id %>" class="thumbnail">
          <img src="<%= card_image_path(card) %>">
          <p class="text-center"><strong>x <%= cid.main_copies %></strong></p>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="well">
  <h2 class="text-center">Sideboard (<%= @deck.side_count %>)</h2>
  <div class="container-fluid">
    <ul id="side" class="thumbnails">
      <% @deck.card_in_deck.each do |cid| %>
      <% next unless cid.side_copies > 0 %>
      <% card = cid.card %>
      <li id="card_<%= card.id %>" data-id="<%= card.id %>" class="span2 existing_card">
        <div id="card_img_<%= card.id %>" class="thumbnail">
          <img src="<%= card_image_path(card) %>">
          <p class="text-center"><strong>x <%= cid.side_copies %></strong></p>
        </div>
      </li>
      <% end %>
    </ul>
  </div>

</div>

<div>
  <form id="deck_builder_form" method="post" action="<%= save_build_deck_path %>">
    <div id="cards_to_add"></div>
    <div id="cards_to_remove"></div>
    <button class="btn btn-primary">Save</button>
    <%= link_to "Done", @deck, :class => "btn btn-small" %>
  </form>
</div>

<% content_for :sidebar do %>
<div class="well">
  <ul class="inline">
  <% @deck.stats[:main_type].sort.each do |mt| %>
    <li><span class="label label-inverse"><%= mt[0] %>: <%= mt[1] %></span></li>
  <% end %>
  </ul>

  <ul class="inline">
    <% @deck.stats[:color].sort.each do |color|%>
        <% next if color[1] <= 0 %>
        <li><span class="badge <%=color_to_badge(color[0].to_sym)%>"><%= color[0]%>: <%= color[1]%></span></li>
    <% end %>
  </ul>

</div>
<% end %>
