<div class="page-header">
  <h1>Building <%= @deck.name %> &mdash; <%= @deck.format %></h1>
</div>

<div class="navbar">
  <div class="navbar-inner">
    <form class="navbar-search pull-left" onSubmit="card_search();return false;">
      <div class="input-append">
        <input id="search_string" 
               type="text" 
               name="search_string" 
               class="search-query"
               autocomplete="off"
               placeholder="Search Cards..."
               autofocus >
      </div>
      <span id="search_error"></span>
    </form>
  </div>
</div>

<div class="containter">
  <ul id="main_deck" class="thumbnails">
    <% @deck.cards.each do |card| %>
    <li id="card_<%= card.id %>" data-id="<%= card.id %>" class="span2 existing_card">
      <div id="card_img_<%= card.id %>" class="thumbnail">
        <img src="<%= card_image_path(card) %>">
      </div>
    </li>
    <% end %>
  </ul>
</div>

<div>
  <form id="deck_builder_form" method="post" action="<%= save_build_deck_path %>">
    <div id="cards_to_add"></div>
    <div id="cards_to_remove"></div>
    <button class="btn btn-primary">Save</button>
    <%= link_to "Done", @deck, :class => "btn btn-small" %>
  </form>
</div>
