<div class="page-header">
  <h1>Building <%= @deck.name %> &mdash; <%= @deck.format %>
</div>

<script type="text/javascript">
// TODO: move this to decks.js.coffee
  function find_card()
  {
    var card_name = $('#card_name').val();

    $.ajax({
      url: "/cards.json?search_string="+card_name,
      dataType: "json"
    }).done(function (data, status, req) {
      // TODO: handle ZERO cards found
      // TODO: handle multiple cards found
      var c = data[0];
      insert_card(data[0]);
      $('#card_name').select();
    }).fail(function (req, status, err) {
      // TODO: better error handling
      alert("AJAX request failed: " + err);
      console.log("=====> build.html.erb #18 --> ["+status+"] ["+err+"]");
    })
  }

  function insert_card(card)
  {
    var deck = $('#main_deck');
    deck.prepend('<li class="span2"><div id="card_'+card.id+'" class="thumbnail" style="display:none"><img src="/card_images/'+card.image_name+'" ></div></li>');
    var card = $('#card_'+card.id);
    card.slideDown("slow", "linear");
  }
</script>

<form class="form-search" onSubmit="find_card();return false;">
  <div class="input-append">
    <input id="card_name" type="text" name="card_name" class="input-medium search-query" autofocus >
    <i class="add-on icon-search"></i>
  </div>
</form>

<div class="containter">
  <ul id="main_deck" class="thumbnails">
    <% @deck.card_in_deck.each do |card_in_deck| %>
    <li class="span2">
      <div id="card_<%= card_in_deck.card.id %>" class="thumbnail">
        <img src="<%= card_image_path(card_in_deck.card) %>" alt="<%= card_in_deck.card.name %>">
      </div>
    </li>
    <% end %>
  </ul>
</div>
