<div class="page-header">
  <h1>Deck Builder:  <%= @deck.name %> &mdash; <%= @deck.format %></h1>
</div>

<div class="row">
  <form onSubmit="BlackLotus.Deckbuilder.card_search();return false;">
    <div class="form-group">
        <input id="search_string" 
               type="text" 
               name="search_string"
               class="form-control"
               autocomplete="off"
               placeholder="Search Cards..."
               autofocus >
    </div>
  </form>
</div>

<div class="row">
    <div id="search_results"></div>
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <button type="button" class="btn btn-block" data-toggle="collapse" data-target="#main"><i class="glyphicon glyphicon-eye-open"></i> Main Deck (<%= @deck.main_count %>)</button>
    </div>
    <div id="main" class="panel-body collapse in">
      <% @deck.card_in_deck.each do |cid| %>
      <% next unless cid.main_copies > 0 %>
      <% card = cid.card %>
      <div id="card_<%= card.id %>" data-id="<%= card.id %>" class="col-md-3 existing_card">
        <div id="card_img_<%= card.id %>" class="thumbnail">
          <img src="<%= card_image_path(card) %>" class="img-responsive">
          <div class="caption text-center">
            x <strong><%= cid.main_copies %></strong>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <button type="button" class="btn btn-block" data-toggle="collapse" data-target="#side"><i class="glyphicon glyphicon-eye-open"></i> Sideboard (<%= @deck.side_count %>)</button>
    </div>
    <div id="side" class="panel-body collapse in">
      <% @deck.card_in_deck.each do |cid| %>
      <% next unless cid.side_copies > 0 %>
      <% card = cid.card %>
      <div id="card_<%= card.id %>" data-id="<%= card.id %>" class="col-md-3 existing_card">
        <div id="card_img_<%= card.id %>" class="thumbnail">
          <img src="<%= card_image_path(card) %>" class="img-responsive">
          <div class="caption text-center">
            x <strong><%= cid.side_copies %></strong>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- ####################################################################### -->

<% content_for :sidebar do %>
<div class="well">

  <ul class="list-inline">
  <% @deck.stats[:main_type].sort.each do |mt| %>
    <li><span class="label label-inverse"><%= mt[0] %>: <%= mt[1] %></span></li>
  <% end %>
  </ul>

  <ul class="list-inline">
    <% @deck.stats[:color].sort.each do |color|%>
        <% next if color[1] <= 0 %>
        <li><span class="<%=color_to_label(color[0].to_sym)%>"><%= color[0]%>: <%= color[1]%></span></li>
    <% end %>
  </ul>

  <form id="deck_builder_form" method="post" action="<%= save_build_deck_path %>">
    <div id="cards_to_add"></div>
    <div id="cards_to_remove"></div>
    <button class="btn btn-primary">Save</button>
    <%= link_to "Done", @deck, :class => "btn btn-default btn-sm" %>
  </form>
</div>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  BlackLotus.Deckbuilder.init();
</script>
<% end %>
