<div class="page-header">
  <h1>Building <%= @deck.name %> &mdash; <%= @deck.format %>
</div>

<form class="form-search" onSubmit="find_card;return false;">
  <div class="input-append">
    <input id="card_name" type="text" name="card_name" class="input-medium search-query" autofocus >
    <i class="add-on icon-search"></i>
  </div>
</form>

<div class="containter">
  <ul id="main_deck" class="thumbnails">
    <% @deck.card_in_deck.each do |card_in_deck| %>
    <li class="span2">
      <div id="card_<%= card_in_deck.card.id %>" class="thumbnail">
        <img src="<%= card_image_path(card_in_deck.card) %>" alt="<%= card_in_deck.card.name %>">
      </div>
    </li>
    <% end %>
  </ul>
</div>
